*{
	margin:0;
}
body{
	background: url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
}
.image img{
	border-radius: 50%;
	margin-bottom: -80px;
	margin-left: 30px;
	width: 100px;
	height: 100px;
	position: relative;
	display: inline-block;
}

header h1
{
	text-align: center;
	padding-top: 15px;
	margin-bottom: 0;
	border-bottom: 0;
	position: relative;
}

.subtitle{
	padding-left: 20px;
}

li a:hover{
	
}


ul{
	list-style: none;
	width: 100%;
	height: 40%
}

ul li{
	float: left;
	width: 33%;
	height: 40%;
	padding-top: 10px;
	padding-left: 20px;
	display: inline-block;
}

li a{
	padding: 10px 100px;
}
a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
.main-section{
	margin: 0 auto;
	margin-top: 25%;
	padding: 0;
}

.modal-content{
	background-color: #3b4652;
	opacity: .95;
	padding: 0 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 3px  #848484;
}
.user-img{
	margin-top: -50px;
	margin-bottom: 35px;
}

.user-img img{
	width: 100px;
	height: 100px;
}

.form-group input{
	height: 42px;
	font-size: 18px;
	border: 0;
	padding-left: 54px;
	border-radius: 5px;
}

.form-group#user-group::before{
	background-image: url(../img/user-solid.svg) no-repeat center center fixed;
	background-size: 22px 37px;
	display: inline-block;
	width: 22px;
	height: 37px;
	content: "";
}

.form-group#contrasena-group::before{
	background-image: url(../img/sign-in-alt-solid.svg) no-repeat center center fixed;
	background-size: 22px 37px;
	display: inline-block;
	width: 22px;
	height: 37px;

}

button{
	width: 60%;
	margin: 5px 0 25px;
	margin-top: 10px;
}

.forgot{
	padding:5px 0;
}

.forgot a{
	color: white;
}
.navbar-left img{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	margin-right: 20px;
	margin-bottom: 5px;
}
footer p{
	margin-top: auto;
	color: #fff;
}

.main-content{
	background-color: #fff;
	border-radius: 10px;
	margin: 0 auto;
}

.main-section-home{
	margin: 0 auto;
	margin-top: 5%;
	padding: 0;
}

.main-title{
	padding-top: 20px;
	padding-left: 20px;
}

.right-section{
	background-color: blue;
}

.imagen img{
	opacity: solid;
	width: 300px;
	height: 200px;
	float: left;
	background-color: blue;
}

.imagen{
	margin:0 auto;
	padding:0;
	background-color: blue: 
	width:300px;
	height: auto;
}

.encabezado-imagen p{
	float: left;
}

.encabezado{
	width: 300px;
	height: auto;
}

.title h4{
	margin-top: 10px;
}

#picture{
	background-color: blue;
}

#parrafo{
	color: white;
	align-content:center;
	font-style: Verdana;
}

.contacto{
	color: white;
}

/* Contact html style*/


.contact-group{
	padding: 0;
	border-radius: 5px;
}

label{
	float: left;
	color: white;
	margin-left: 10px;
}

/*about.html style */

.about-title{
	padding: 30px 30px;
	text-align: center;
	flex: all;
}

.about-image img{
	border-radius: 50%;
	border: 5px 5px; 
	box-shadow:#000;
}

#parrafo-about{
	padding: 0 0 0 0;
}